<nav class="navbar navbar-default" style="background-color:#1db954;">
	<div class="container-fluid">

		<!-- Brand/logo -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" id="navbar-brand" href="#">Playlist Maker</a>
		</div>

		<!-- Collapsible Navbar -->
		<div class="collapse navbar-collapse" id="example-1">
			<ul class="nav navbar-nav">
				<li><a href="#" (click)="selectPageName('playlist')">Playlist</a> </li>
				<li><a href="#" (click)="selectPageName('addSongs')"> Add Songs</a></li>
				<li><a href="#">Youtube</a></li>
			</ul>
		</div>

	</div>
</nav>
