.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: center;
}


#playlistTitleDiv {
  position: relative;
}

#ChangePlaylistBtn {
  position: absolute;
  bottom: 0;
  color: black;
  margin-bottom: 2%;
  font-size: 75%;
  background-color: #1db954;
}

#ChangePlaylistBtn:hover {
  background-color: #b3b3b3;
}
.btn-success {
  color: black;
  position: absolute;
  margin-left: 4%;
}

input{
  color: black;
  background-color: #1db954;
  width: 60%;
}
#changePlaylistOneTitle {
  position: absolute;
  margin-bottom: 2%;
  bottom: 0;
  right: 0;
}

.cdk-drag-preview {
opacity: 45%;
width: 10%;
height: 10%;
}



.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



