<div class="row">
  <div class="col-md-12">
    <h2 style="text-align: center; color: white;">Add A Song To A Playlist</h2>
    <form [formGroup]="addSongForm" (ngSubmit)="onSubmit()">


      <div class="row">
        <div class="col-md-12 form-group">
          <label for="title">Song Name</label>
          <input
          type="text"
          name="title"
          id="title"
          formControlName="title"
          >
          <span class="error" *ngIf="addSongForm.get('title').touched && !addSongForm.get('title').valid">
            Please enter a valid song name!
          </span>

          <br>
          <br>
         <label for="artist">Artist Name</label>
          <input
          type="text"
          name="artist"
          id="artist"
          formControlName="artist"
          >
          <span class="error" *ngIf="addSongForm.get('artist').touched && !addSongForm.get('artist').valid">
            Please enter a valid artist!
          </span>

          <br>
          <br>

         <label for="albumn">Albumn Name</label>
          <input
          type="text"
          name="albumn"
          id="albumn"
          formControlName="albumn"
          >
          <span class="error" *ngIf="addSongForm.get('albumn').touched && !addSongForm.get('albumn').valid">
            Please enter a valid albumn name!
          </span>

          <br>
          <br>

          <label for="imagePath">Album Cover ImagePath</label>
          <input
          type="text"
          name="imagePath"
          id="imagePath"
          formControlName="imagePath"
          >
          <span class="error" *ngIf="addSongForm.get('imagePath').touched && !addSongForm.get('imagePath').valid">
            Please enter a valid image path!
          </span>

          <br>
          <br>

          <label for="url">Youtube URL</label>
          <input

          type="text"
          name="url"
          id="url"
          formControlName="url">

          <span class="error" *ngIf="addSongForm.get('url').touched && !addSongForm.get('url').valid">
            Please enter a valid YouTube URL!
          </span>


          <hr>
          <button [disabled]="!addSongForm.valid" class="btn btn-success playlistOne" type="submit" (click)="playlistOne()">Add to Playlist One</button>
          <button [disabled]="!addSongForm.valid" id="playlistTwo" class="btn btn-success" type="submit" (click)="playlistTwo()">Add to Playlist Two</button>
        </div>
    </div>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <app-tutorial-photos></app-tutorial-photos>
  </div>
</div>
