<div class="row">
  <div class="col xs 12">
    <form>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="name">Song Name</label>
          <input type="text" id="name" class="form-control" >
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Artist Name</label>
          <input type="text" id="artist" class="form-control">
        </div>
      </div>
      <div class="col-sm-3 form-group">
        <label for="amount">Album Cover URL</label>
        <input type="text" id="album" class="form-control">
      </div>
      <div class="col-sm-3 form-group">
        <label for="amount">Youtube URL</label>
        <input type="text" id="yt" class="form-control">
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
